.logInPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    >button{
        padding: .5em 1em;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $action_color;
        font-size: 1.5em;
        font-weight: 500;
        transition: all .35s;
        &:hover{
            transform: scale(1.15);
        }
    &:nth-child(2){
        background-color: $main_color;
    }
    }
}